h1{
    margin-top: 600px;
    margin-bottom: 0;
    padding-bottom: 2rem;
    color:orange;
}
h4{
  color:aqua;
}
#imagen1,#imagen2{
	width: 400px;
	height: 450px;
}
#thirdDiv{
	width: 500px;
	height: 600px;
	background-color:orange;
	padding: 50px;
	border-style:solid;
	border-width: 3px;
}
#spanId{
	margin: 50px;
	font-size: 18px;
}
